meta.foundation-version {
  font-family: "/5.5.2/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em; }

.xform .row {
  margin: 0 auto;
  max-width: 42.5rem;
  width: 100%;
  padding: 1em 0 1em; }
  .xform .row:before, .xform .row:after {
    content: " ";
    display: table; }
  .xform .row:after {
    clear: both; }
  .xform .row.collapse > .column,
  .xform .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .xform .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .xform .row .row {
    margin: 0 -0.625rem;
    max-width: none;
    width: auto; }
    .xform .row .row:before, .xform .row .row:after {
      content: " ";
      display: table; }
    .xform .row .row:after {
      clear: both; }
    .xform .row .row.collapse {
      margin: 0;
      max-width: none;
      width: auto; }
      .xform .row .row.collapse:before, .xform .row .row.collapse:after {
        content: " ";
        display: table; }
      .xform .row .row.collapse:after {
        clear: both; }
.xform .column,
.xform .columns {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  width: 100%;
  float: left;
  margin-bottom: 1em; }
.xform .column + .xform .column:last-child,
.xform .columns + .xform .column:last-child, .xform .column +
.xform .columns:last-child,
.xform .columns +
.xform .columns:last-child {
  float: right; }
.xform .column + .xform .column.end,
.xform .columns + .xform .column.end, .xform .column +
.xform .columns.end,
.xform .columns +
.xform .columns.end {
  float: left; }
@media only screen {
  .xform .small-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .xform .small-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .xform .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .xform .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .xform .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .xform .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .xform .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .xform .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .xform .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .xform .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .xform .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .xform .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .xform .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .xform .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .xform .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .xform .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .xform .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .xform .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .xform .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .xform .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .xform .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .xform .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .xform .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .xform .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .xform .column,
  .xform .columns {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left; }
  .xform .small-1 {
    width: 8.33333%; }
  .xform .small-2 {
    width: 16.66667%; }
  .xform .small-3 {
    width: 25%; }
  .xform .small-4 {
    width: 33.33333%; }
  .xform .small-5 {
    width: 41.66667%; }
  .xform .small-6 {
    width: 50%; }
  .xform .small-7 {
    width: 58.33333%; }
  .xform .small-8 {
    width: 66.66667%; }
  .xform .small-9 {
    width: 75%; }
  .xform .small-10 {
    width: 83.33333%; }
  .xform .small-11 {
    width: 91.66667%; }
  .xform .small-12 {
    width: 100%; }
  .xform .small-offset-0 {
    margin-left: 0 !important; }
  .xform .small-offset-1 {
    margin-left: 8.33333% !important; }
  .xform .small-offset-2 {
    margin-left: 16.66667% !important; }
  .xform .small-offset-3 {
    margin-left: 25% !important; }
  .xform .small-offset-4 {
    margin-left: 33.33333% !important; }
  .xform .small-offset-5 {
    margin-left: 41.66667% !important; }
  .xform .small-offset-6 {
    margin-left: 50% !important; }
  .xform .small-offset-7 {
    margin-left: 58.33333% !important; }
  .xform .small-offset-8 {
    margin-left: 66.66667% !important; }
  .xform .small-offset-9 {
    margin-left: 75% !important; }
  .xform .small-offset-10 {
    margin-left: 83.33333% !important; }
  .xform .small-offset-11 {
    margin-left: 91.66667% !important; }
  .xform .small-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .xform .column.small-centered,
  .xform .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .xform .column.small-uncentered,
  .xform .columns.small-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .xform .column.small-centered:last-child,
  .xform .columns.small-centered:last-child {
    float: none; }
  .xform .column.small-uncentered:last-child,
  .xform .columns.small-uncentered:last-child {
    float: left; }
  .xform .column.small-uncentered.opposite,
  .xform .columns.small-uncentered.opposite {
    float: right; }
  .xform .row.small-collapse > .column,
  .xform .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .xform .row.small-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .xform .row.small-uncollapse > .column,
  .xform .row.small-uncollapse > .columns {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left; } }
@media only screen and (min-width: 40.0625em) {
  .xform .medium-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .xform .medium-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .xform .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .xform .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .xform .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .xform .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .xform .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .xform .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .xform .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .xform .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .xform .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .xform .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .xform .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .xform .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .xform .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .xform .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .xform .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .xform .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .xform .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .xform .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .xform .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .xform .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .xform .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .xform .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .xform .column,
  .xform .columns {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left; }
  .xform .medium-1 {
    width: 8.33333%; }
  .xform .medium-2 {
    width: 16.66667%; }
  .xform .medium-3 {
    width: 25%; }
  .xform .medium-4 {
    width: 33.33333%; }
  .xform .medium-5 {
    width: 41.66667%; }
  .xform .medium-6 {
    width: 50%; }
  .xform .medium-7 {
    width: 58.33333%; }
  .xform .medium-8 {
    width: 66.66667%; }
  .xform .medium-9 {
    width: 75%; }
  .xform .medium-10 {
    width: 83.33333%; }
  .xform .medium-11 {
    width: 91.66667%; }
  .xform .medium-12 {
    width: 100%; }
  .xform .medium-offset-0 {
    margin-left: 0 !important; }
  .xform .medium-offset-1 {
    margin-left: 8.33333% !important; }
  .xform .medium-offset-2 {
    margin-left: 16.66667% !important; }
  .xform .medium-offset-3 {
    margin-left: 25% !important; }
  .xform .medium-offset-4 {
    margin-left: 33.33333% !important; }
  .xform .medium-offset-5 {
    margin-left: 41.66667% !important; }
  .xform .medium-offset-6 {
    margin-left: 50% !important; }
  .xform .medium-offset-7 {
    margin-left: 58.33333% !important; }
  .xform .medium-offset-8 {
    margin-left: 66.66667% !important; }
  .xform .medium-offset-9 {
    margin-left: 75% !important; }
  .xform .medium-offset-10 {
    margin-left: 83.33333% !important; }
  .xform .medium-offset-11 {
    margin-left: 91.66667% !important; }
  .xform .medium-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .xform .column.medium-centered,
  .xform .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .xform .column.medium-uncentered,
  .xform .columns.medium-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .xform .column.medium-centered:last-child,
  .xform .columns.medium-centered:last-child {
    float: none; }
  .xform .column.medium-uncentered:last-child,
  .xform .columns.medium-uncentered:last-child {
    float: left; }
  .xform .column.medium-uncentered.opposite,
  .xform .columns.medium-uncentered.opposite {
    float: right; }
  .xform .row.medium-collapse > .column,
  .xform .row.medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .xform .row.medium-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .xform .row.medium-uncollapse > .column,
  .xform .row.medium-uncollapse > .columns {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left; }
  .xform .push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .xform .pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .xform .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .xform .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .xform .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .xform .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .xform .push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .xform .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .xform .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .xform .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .xform .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .xform .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .xform .push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .xform .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .xform .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .xform .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .xform .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .xform .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .xform .push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .xform .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .xform .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .xform .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .xform .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .xform .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
@media only screen and (min-width: 64.0625em) {
  .xform .large-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .xform .large-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .xform .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .xform .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .xform .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .xform .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .xform .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .xform .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .xform .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .xform .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .xform .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .xform .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .xform .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .xform .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .xform .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .xform .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .xform .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .xform .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .xform .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .xform .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .xform .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .xform .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .xform .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .xform .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .xform .column,
  .xform .columns {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left; }
  .xform .large-1 {
    width: 8.33333%; }
  .xform .large-2 {
    width: 16.66667%; }
  .xform .large-3 {
    width: 25%; }
  .xform .large-4 {
    width: 33.33333%; }
  .xform .large-5 {
    width: 41.66667%; }
  .xform .large-6 {
    width: 50%; }
  .xform .large-7 {
    width: 58.33333%; }
  .xform .large-8 {
    width: 66.66667%; }
  .xform .large-9 {
    width: 75%; }
  .xform .large-10 {
    width: 83.33333%; }
  .xform .large-11 {
    width: 91.66667%; }
  .xform .large-12 {
    width: 100%; }
  .xform .large-offset-0 {
    margin-left: 0 !important; }
  .xform .large-offset-1 {
    margin-left: 8.33333% !important; }
  .xform .large-offset-2 {
    margin-left: 16.66667% !important; }
  .xform .large-offset-3 {
    margin-left: 25% !important; }
  .xform .large-offset-4 {
    margin-left: 33.33333% !important; }
  .xform .large-offset-5 {
    margin-left: 41.66667% !important; }
  .xform .large-offset-6 {
    margin-left: 50% !important; }
  .xform .large-offset-7 {
    margin-left: 58.33333% !important; }
  .xform .large-offset-8 {
    margin-left: 66.66667% !important; }
  .xform .large-offset-9 {
    margin-left: 75% !important; }
  .xform .large-offset-10 {
    margin-left: 83.33333% !important; }
  .xform .large-offset-11 {
    margin-left: 91.66667% !important; }
  .xform .large-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .xform .column.large-centered,
  .xform .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .xform .column.large-uncentered,
  .xform .columns.large-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .xform .column.large-centered:last-child,
  .xform .columns.large-centered:last-child {
    float: none; }
  .xform .column.large-uncentered:last-child,
  .xform .columns.large-uncentered:last-child {
    float: left; }
  .xform .column.large-uncentered.opposite,
  .xform .columns.large-uncentered.opposite {
    float: right; }
  .xform .row.large-collapse > .column,
  .xform .row.large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .xform .row.large-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .xform .row.large-uncollapse > .column,
  .xform .row.large-uncollapse > .columns {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left; }
  .xform .push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .xform .pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .xform .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .xform .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .xform .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .xform .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .xform .push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .xform .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .xform .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .xform .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .xform .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .xform .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .xform .push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .xform .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .xform .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .xform .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .xform .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .xform .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .xform .push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .xform .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .xform .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .xform .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .xform .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .xform .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }

.xform .button {
  background: #DDDDDD url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjZGRkZGRkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjlmOWY5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: #DDDDDD -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(75%, #dddddd), color-stop(100%, #f9f9f9));
  background: #DDDDDD -webkit-linear-gradient(#ffffff 0%, #dddddd 75%, #f9f9f9 100%);
  background: #DDDDDD linear-gradient(#ffffff 0%, #dddddd 75%, #f9f9f9 100%);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.75);
  color: #444444;
  font-size: 1.2em;
  font-weight: 900;
  padding: 0.75rem !important; }
  .xform .button:hover:not(a[id='memberCardRegButton']), .xform .button:active:not(a[id='memberCardRegButton']) {
    background: #e0e0e0 url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjZTJlMmUyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmFmYWZhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background: #e0e0e0 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(75%, #e2e2e2), color-stop(100%, #fafafa));
    background: #e0e0e0 -webkit-linear-gradient(#ffffff 0%, #e2e2e2 75%, #fafafa 100%);
    background: #e0e0e0 linear-gradient(#ffffff 0%, #e2e2e2 75%, #fafafa 100%); }

.xform {
  color: #000000;
  background-color: #E0E0E0;
  /* Standard Forms */
  /* Using forms within rows, we need to set some defaults */
  /* Label Styles */
  /* Attach elements to the beginning or end of an input */
  /* Adjust padding, alignment and radius if pre/post element is a button */
  /* Separate prefix and postfix styles when on span or label so buttons keep their own */
  /* We use this to get basic styling on all basic form elements */
  /* Respect enforced amount of rows for textarea */
  /* Not allow resize out of parent */
  /* Add height value for select elements to match text input height */
  /* Adjust margin for form elements below */
  /* Normalize file input width */
  /* HTML5 Number spinners settings */
  /* We add basic fieldset styling */
  /* Error Handling */ }
  .xform ::-moz-selection {
    background: #DDDDDD; }
  .xform ::selection {
    background: #DDDDDD; }
  .xform form {
    margin: 0; }
  .xform form .row .row {
    margin: 0 -0.5rem; }
    .xform form .row .row .column,
    .xform form .row .row .columns {
      padding: 0 0.5rem; }
    .xform form .row .row.collapse {
      margin: 0; }
      .xform form .row .row.collapse .column,
      .xform form .row .row.collapse .columns {
        padding: 0; }
      .xform form .row .row.collapse input {
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0; }
  .xform form .row input.column,
  .xform form .row input.columns,
  .xform form .row textarea.column,
  .xform form .row textarea.columns {
    padding-left: 0.5rem; }
  .xform label {
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    /* Styles for required inputs */ }
    .xform label.right {
      float: none !important;
      text-align: right; }
    .xform label.inline {
      margin: 0 0 1rem 0;
      padding: 0.5625rem 0; }
    .xform label small {
      text-transform: capitalize;
      color: #262626; }
  .xform .prefix,
  .xform .postfix {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.875rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
    overflow: visible;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2; }
  .xform .postfix.button {
    border-color: true; }
  .xform .prefix.button {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center; }
  .xform .prefix.button.radius {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  .xform .postfix.button.radius {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .xform .prefix.button.round {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px; }
  .xform .postfix.button.round {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px; }
  .xform span.prefix, .xform label.prefix {
    background: #f2f2f2;
    border-right: none;
    color: #333333;
    border-color: #cccccc; }
  .xform span.postfix, .xform label.postfix {
    background: #f2f2f2;
    color: #333333;
    border-color: #cccccc; }
  .xform input[type="text"], .xform input[type="password"], .xform input[type="date"], .xform input[type="datetime"], .xform input[type="datetime-local"], .xform input[type="month"], .xform input[type="week"], .xform input[type="email"], .xform input[type="number"], .xform input[type="search"], .xform input[type="tel"], .xform input[type="time"], .xform input[type="url"], .xform input[type="color"], .xform textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
    -webkit-transition: border-color 0.15s linear, background 0.15s linear;
    transition: border-color 0.15s linear, background 0.15s linear; }
    .xform input[type="text"]:focus, .xform input[type="password"]:focus, .xform input[type="date"]:focus, .xform input[type="datetime"]:focus, .xform input[type="datetime-local"]:focus, .xform input[type="month"]:focus, .xform input[type="week"]:focus, .xform input[type="email"]:focus, .xform input[type="number"]:focus, .xform input[type="search"]:focus, .xform input[type="tel"]:focus, .xform input[type="time"]:focus, .xform input[type="url"]:focus, .xform input[type="color"]:focus, .xform textarea:focus {
      background: #e6e6e6;
      border-color: #000000;
      outline: none; }
    .xform input[type="text"]:disabled, .xform input[type="password"]:disabled, .xform input[type="date"]:disabled, .xform input[type="datetime"]:disabled, .xform input[type="datetime-local"]:disabled, .xform input[type="month"]:disabled, .xform input[type="week"]:disabled, .xform input[type="email"]:disabled, .xform input[type="number"]:disabled, .xform input[type="search"]:disabled, .xform input[type="tel"]:disabled, .xform input[type="time"]:disabled, .xform input[type="url"]:disabled, .xform input[type="color"]:disabled, .xform textarea:disabled {
      background-color: #DDDDDD;
      cursor: default; }
    .xform input[type="text"][disabled], .xform input[type="text"][readonly], fieldset[disabled] .xform input[type="text"], .xform input[type="password"][disabled], .xform input[type="password"][readonly], fieldset[disabled] .xform input[type="password"], .xform input[type="date"][disabled], .xform input[type="date"][readonly], fieldset[disabled] .xform input[type="date"], .xform input[type="datetime"][disabled], .xform input[type="datetime"][readonly], fieldset[disabled] .xform input[type="datetime"], .xform input[type="datetime-local"][disabled], .xform input[type="datetime-local"][readonly], fieldset[disabled] .xform input[type="datetime-local"], .xform input[type="month"][disabled], .xform input[type="month"][readonly], fieldset[disabled] .xform input[type="month"], .xform input[type="week"][disabled], .xform input[type="week"][readonly], fieldset[disabled] .xform input[type="week"], .xform input[type="email"][disabled], .xform input[type="email"][readonly], fieldset[disabled] .xform input[type="email"], .xform input[type="number"][disabled], .xform input[type="number"][readonly], fieldset[disabled] .xform input[type="number"], .xform input[type="search"][disabled], .xform input[type="search"][readonly], fieldset[disabled] .xform input[type="search"], .xform input[type="tel"][disabled], .xform input[type="tel"][readonly], fieldset[disabled] .xform input[type="tel"], .xform input[type="time"][disabled], .xform input[type="time"][readonly], fieldset[disabled] .xform input[type="time"], .xform input[type="url"][disabled], .xform input[type="url"][readonly], fieldset[disabled] .xform input[type="url"], .xform input[type="color"][disabled], .xform input[type="color"][readonly], fieldset[disabled] .xform input[type="color"], .xform textarea[disabled], .xform textarea[readonly], fieldset[disabled] .xform textarea {
      background-color: #DDDDDD;
      cursor: default; }
    .xform input[type="text"].radius, .xform input[type="password"].radius, .xform input[type="date"].radius, .xform input[type="datetime"].radius, .xform input[type="datetime-local"].radius, .xform input[type="month"].radius, .xform input[type="week"].radius, .xform input[type="email"].radius, .xform input[type="number"].radius, .xform input[type="search"].radius, .xform input[type="tel"].radius, .xform input[type="time"].radius, .xform input[type="url"].radius, .xform input[type="color"].radius, .xform textarea.radius {
      border-radius: 5px; }
  .xform form .row .prefix-radius.row.collapse input,
  .xform form .row .prefix-radius.row.collapse textarea,
  .xform form .row .prefix-radius.row.collapse select,
  .xform form .row .prefix-radius.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .xform form .row .prefix-radius.row.collapse .prefix {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  .xform form .row .postfix-radius.row.collapse input,
  .xform form .row .postfix-radius.row.collapse textarea,
  .xform form .row .postfix-radius.row.collapse select,
  .xform form .row .postfix-radius.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  .xform form .row .postfix-radius.row.collapse .postfix {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .xform form .row .prefix-round.row.collapse input,
  .xform form .row .prefix-round.row.collapse textarea,
  .xform form .row .prefix-round.row.collapse select,
  .xform form .row .prefix-round.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px; }
  .xform form .row .prefix-round.row.collapse .prefix {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px; }
  .xform form .row .postfix-round.row.collapse input,
  .xform form .row .postfix-round.row.collapse textarea,
  .xform form .row .postfix-round.row.collapse select,
  .xform form .row .postfix-round.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px; }
  .xform form .row .postfix-round.row.collapse .postfix {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px; }
  .xform input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0; }
  .xform textarea[rows] {
    height: auto; }
  .xform textarea {
    max-width: 100%; }
  .xform ::-webkit-input-placeholder {
    color: #cccccc; }
  .xform :-moz-placeholder {
    /* Firefox 18- */
    color: #cccccc; }
  .xform ::-moz-placeholder {
    /* Firefox 19+ */
    color: #cccccc; }
  .xform :-ms-input-placeholder {
    color: #cccccc; }
  .xform select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: #FAFAFA;
    border-radius: 5px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
    background-position: 100% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    color: rgba(0, 0, 0, 0.75);
    font-family: inherit;
    font-size: 0.875rem;
    line-height: normal;
    padding: 0.5rem;
    height: 2.3125rem;
    max-width: 100%;
    width: 100%; }
    .xform select::-ms-expand {
      display: none; }
    .xform select.radius {
      border-radius: 5px; }
    .xform select:hover {
      background-color: #f3f3f3;
      border-color: #000000; }
    .xform select:disabled {
      background-color: #DDDDDD;
      cursor: default; }
    .xform select[multiple] {
      height: auto; }
  .xform input[type="file"],
  .xform input[type="checkbox"],
  .xform input[type="radio"],
  .xform select {
    margin: 0; }
  .xform input[type="checkbox"] + label,
  .xform input[type="radio"] + label {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: baseline; }
  .xform input[type="file"] {
    width: 100%; }
  .xform input[type=text], .xform input[type=password] {
    max-width: 100%; }
  .xform fieldset {
    border: 0 none #DDDDDD;
    margin: 0 0;
    padding: 0.625rem; }
    .xform fieldset legend {
      background: transparent;
      font-weight: bold;
      margin-left: -0.1875rem;
      margin: 0;
      padding: 0 0.1875rem; }
  .xform [data-true-abide] .error small.error, .xform [data-true-abide] .error span.error, .xform [data-true-abide] span.error, .xform [data-true-abide] small.error {
    border-radius: 6px;
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 0.6em;
    padding: 0.375rem 0.5625rem 0.375rem;
    position: relative;
    background: #BF2F2F;
    color: #FFFFFF; }
    .xform [data-true-abide] .error small.error:before, .xform [data-true-abide] .error span.error:before, .xform [data-true-abide] span.error:before, .xform [data-true-abide] small.error:before {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      top: -8px;
      border: 10px solid;
      border-color: transparent #BF2F2F transparent transparent; }
  .xform [data-true-abide] span.error, .xform [data-true-abide] small.error {
    display: none; }
  .xform span.error, .xform small.error {
    border-radius: 6px;
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 0.6em;
    padding: 0.375rem 0.5625rem 0.375rem;
    position: relative;
    background: #BF2F2F;
    color: #FFFFFF; }
    .xform span.error:before, .xform small.error:before {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      top: -8px;
      border: 10px solid;
      border-color: transparent #BF2F2F transparent transparent; }
  .xform .error input,
  .xform .error textarea,
  .xform .error select {
    margin-bottom: 1rem; }
  .xform .error input[type="checkbox"],
  .xform .error input[type="radio"] {
    margin-bottom: 1rem; }
  .xform .error label,
  .xform .error label.error {
    color: #f04124; }
  .xform .error small.error {
    border-radius: 6px;
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 0.6em;
    padding: 0.375rem 0.5625rem 0.375rem;
    position: relative;
    background: #BF2F2F;
    color: #FFFFFF; }
    .xform .error small.error:before {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      top: -8px;
      border: 10px solid;
      border-color: transparent #BF2F2F transparent transparent; }
  .xform .error > label > small {
    background: transparent;
    color: #262626;
    display: inline;
    font-size: 60%;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-transform: capitalize; }
  .xform .error span.error-message {
    display: block; }
  .xform input.error,
  .xform textarea.error,
  .xform select.error {
    margin-bottom: 0; }
  .xform label.error {
    color: #f04124; }

@media only screen and (min-width: 64.0625em) {
  .xform .small-12.large-6.columns.username,
  .xform .fieldset_2 legend + div.small-12.large-6.columns {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    width: 50%;
    float: right;
    right: 50%;
    left: auto;
    float: left;
    margin-left: 50% !important; }

  .xform div.columns.half-width-alone {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    width: 50%;
    float: right;
    right: 50%;
    left: auto;
    float: left;
    margin-left: 50% !important; } }
.xform .small-2.large-3,
.xform .small-6.large-3,
.xform .small-4.large-4 {
  padding-left: 0;
  padding-right: 0; }

.xform .columns.membercard_link {
  background: #a0a0a0 url('/images/xtipp/bg_registration_mc-new.png?1425390490') no-repeat right 2em bottom -6em;
  background-size: auto;
  border: 1px solid #222222;
  border-radius: 5px;
  margin-bottom: 2em; }
  .xform .columns.membercard_link input[type="checkbox"] {
    margin-bottom: 0; }
  .xform .columns.membercard_link label {
    font-size: 130%; }
  .xform .columns.membercard_link .row {
    padding-top: 2em;
    border-radius: 5px; }

.fixed80height {
  min-height: 80px; }

.xform #data_agb-error {
  margin-top: -1.5em; }

.xform #agree_agbchkErrorPlace {
  margin-top: -1.5em; }

.xform header {
  background: #222222 url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: #222222 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
  background: #222222 -webkit-linear-gradient(#444444 0%, #222222 100%);
  background: #222222 linear-gradient(#444444 0%, #222222 100%);
  border-bottom: 1px solid #000000;
  color: #FFFFFF; }

div#errorBox.common_popup_style {
  margin: 0 auto;
  max-width: 42.5rem;
  width: 100%;
  left: 490.5px; }
  div#errorBox.common_popup_style:before, div#errorBox.common_popup_style:after {
    content: " ";
    display: table; }
  div#errorBox.common_popup_style:after {
    clear: both; }

.xform {
  border-radius: 5px;
  line-height: 24px;
  font-size: 12px; }
  .xform legend {
    font-size: 1.5rem;
    padding: 0.375rem 0; }
    .xform legend a {
      padding: 0.625rem;
      margin-bottom: .5em;
      display: block; }
    .xform legend a:hover {
      color: #000000; }
  .xform .boxes {
    display: block;
    padding: 0;
    margin: 0 0;
    margin-bottom: 0.75rem; }
    .xform .boxes:before, .xform .boxes:after {
      content: " ";
      display: table; }
    .xform .boxes:after {
      clear: both; }
    .xform .boxes > li {
      display: block;
      float: left;
      height: auto;
      padding: 0 0 0; }
    .xform .boxes > li {
      list-style: none;
      padding: 0 0 0;
      width: 50%; }
      .xform .boxes > li:nth-of-type(1n) {
        clear: none; }
      .xform .boxes > li:nth-of-type(2n+1) {
        clear: both; }
  .xform .fbox {
    background: #F9F9F9 url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: #F9F9F9 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #dddddd));
    background: #F9F9F9 -webkit-linear-gradient(#f6f6f6, #dddddd);
    background: #F9F9F9 linear-gradient(#f6f6f6, #dddddd);
    box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.67), -1px -1px 1px 0 rgba(0, 0, 0, 0.34);
    border: 1px solid #FAFAFA;
    padding: 1.5rem 0;
    border-radius: 4px; }
    .xform .fbox label {
      display: block;
      font-size: 1.125rem;
      margin-top: 1.5rem;
      text-align: center; }
    .xform .fbox input {
      display: block;
      margin: 0 auto; }
  .xform header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #999999;
    display: none;
    font-size: 0.75rem;
    font-weight: 900;
    line-height: 1.875rem;
    padding: 0; }
    .xform header ul {
      margin: 0;
      padding: 0; }
    .xform header li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 0.75rem;
      line-height: 1.875rem;
      list-style-position: outside;
      list-style-type: none;
      padding: 0 0.625rem; }
    .xform header li:first-child {
      background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNjA2MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQzNDM0MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #606060), color-stop(100%, #434343));
      background: -webkit-linear-gradient(#606060 0%, #434343 100%);
      background: linear-gradient(#606060 0%, #434343 100%);
      box-shadow: rgba(0, 0, 0, 0.65) 0 0 3px 0 inset;
      border-top-left-radius: 5px;
      border-right: 1px solid rgba(255, 255, 255, 0.25); }
  .xform .button {
    margin-bottom: 1rem; }
  .xform #memberCardRegButton:hover {
    color: #000000; }
  .xform input.button {
    width: 100%; }
  .xform a {
    font-weight: 900; }
    .xform a:hover {
      color: #F5D600; }
    .xform a.button:hover {
      color: #000000; }
  .xform .hero {
    background-position: right top;
    display: none;
    margin-bottom: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
    .xform .hero p {
      background: rgba(0, 0, 0, 0.67);
      border-bottom-right-radius: 33px;
      color: #FFFFFF;
      font-size: 1.125rem;
      width: 66%; }
    .xform .hero .highlight {
      background: #E4032E;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      text-shadow: 1px 1px 0 #000000;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      font-size: 1.5rem;
      margin-bottom: -1.25rem;
      margin-right: -2.5rem;
      padding: 0.1875rem 0.75rem; }
    .xform .hero p:last-child {
      margin-bottom: 0; }
  .xform div.error,
  .xform span.error,
  .xform label.error {
    background-color: transparent; }

.xform .tabs {
  display: block;
  padding: 0;
  margin: 0 0;
  margin-bottom: 0 !important; }
  .xform .tabs:before, .xform .tabs:after {
    content: " ";
    display: table; }
  .xform .tabs:after {
    clear: both; }
  .xform .tabs:before, .xform .tabs:after {
    content: " ";
    display: table; }
  .xform .tabs:after {
    clear: both; }
  .xform .tabs > li {
    display: block;
    float: left;
    height: auto; }
  .xform .tabs > li {
    list-style: none;
    width: 33.33333%; }
    .xform .tabs > li:nth-of-type(1n) {
      clear: none; }
    .xform .tabs > li:nth-of-type(3n+1) {
      clear: both; }
  .xform .tabs .tab-title {
    border-bottom: 1px solid #666666;
    border-right: 1px solid #666666;
    box-sizing: border-box;
    float: left;
    height: 2.1875rem;
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;
    position: relative; }
    .xform .tabs .tab-title:first-child {
      border-left: none;
      border-top-left-radius: 5px; }
    .xform .tabs .tab-title:last-child {
      border-right: none;
      border-top-right-radius: 5px; }
    .xform .tabs .tab-title > a {
      background: #AAAAAA;
      border-bottom: 1px solid #DDDDDD;
      color: #888888;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 0.75rem;
      height: 100%;
      overflow: hidden;
      padding: 0.5rem 1rem; }
      .xform .tabs .tab-title > a:hover {
        background: #a0a0a0;
        border-bottom: 0;
        color: #222222; }
        .xform .tabs .tab-title > a:hover .cnt {
          background-color: #222222;
          color: #AAAAAA; }
      .xform .tabs .tab-title > a[disabled],
      .xform .tabs .tab-title > a .disabled {
        cursor: default; }
        .xform .tabs .tab-title > a[disabled]:hover,
        .xform .tabs .tab-title > a .disabled:hover {
          background: #AAAAAA;
          color: #888888; }
          .xform .tabs .tab-title > a[disabled]:hover .cnt,
          .xform .tabs .tab-title > a .disabled:hover .cnt {
            background: #888888;
            color: #AAAAAA; }
      .xform .tabs .tab-title > a:focus {
        outline: none; }
      @media only screen and (max-width: 40em) {
        .xform .tabs .tab-title > a {
          font-size: 0.6875rem; } }
      .xform .tabs .tab-title > a .cnt {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        background: #888888;
        border-radius: 1000px;
        color: #AAAAAA;
        font-size: 0.875rem;
        height: 1.375rem;
        line-height: 1.375rem;
        margin-right: .3em;
        margin-top: -0.25rem;
        overflow: hidden;
        text-align: center;
        width: 1.375rem; }
        @media only screen and (max-width: 40em) {
          .xform .tabs .tab-title > a .cnt {
            display: none; } }
    .xform .tabs .tab-title.active {
      border-bottom: 0; }
    .xform .tabs .tab-title.active a {
      background: transparent;
      color: #000000; }
      .xform .tabs .tab-title.active a .cnt {
        background-color: #F5D600;
        color: #000000; }
    .xform .tabs .tab-title[disabled] > a, .xform .tabs .tab-title.disabled > a {
      cursor: default; }
      .xform .tabs .tab-title[disabled] > a:hover, .xform .tabs .tab-title.disabled > a:hover {
        background: #AAAAAA;
        color: #888888; }
        .xform .tabs .tab-title[disabled] > a:hover .cnt, .xform .tabs .tab-title.disabled > a:hover .cnt {
          background: #888888;
          color: #AAAAAA; }
  .xform .tabs.radius .tab:first-child a {
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  .xform .tabs.radius .tab:last-child a {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }

.xform .tabs-content {
  width: 100%; }
  .xform .tabs-content:before, .xform .tabs-content:after {
    content: " ";
    display: table; }
  .xform .tabs-content:after {
    clear: both; }
  .xform .tabs-content > .content {
    display: none;
    padding: 0.625rem 0;
    width: 100%; }
    .xform .tabs-content > .content.active {
      display: block;
      float: none; }
    .xform .tabs-content > .content.contained {
      padding: 0.625rem; }

.no-js .tabs-content > .content {
  display: block;
  float: none; }

.xform .tabs-content {
  margin-bottom: 0; }
  .xform .tabs-content > .content.active {
    margin-bottom: 0;
    padding-bottom: 0; }

.xform .form_footer {
  background: #333333;
  border-top: 1px solid #F5D600;
  margin: -0.625rem;
  padding: 1.25rem;
  clear: both;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .xform .form_footer:before, .xform .form_footer:after {
    content: " ";
    display: table; }
  .xform .form_footer:after {
    clear: both; }
  .xform .form_footer .button {
    margin-bottom: 0; }
  .xform .form_footer .btnyellow {
    color: #000;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDQwMCIvPjxzdG9wIG9mZnNldD0iMTUlIiBzdG9wLWNvbG9yPSIjZmVkMzAwIi8+PHN0b3Agb2Zmc2V0PSIyOCUiIHN0b3AtY29sb3I9IiNmMWM5MDAiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q1YjEwMCIvPjxzdG9wIG9mZnNldD0iNjQlIiBzdG9wLWNvbG9yPSIjY2RhYjAwIi8+PHN0b3Agb2Zmc2V0PSI2OSUiIHN0b3AtY29sb3I9IiNjZmFjMDAiLz48c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2RkYjgwMCIvPjxzdG9wIG9mZnNldD0iOTclIiBzdG9wLWNvbG9yPSIjZjFjOTAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZkNDAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g') repeat-x scroll 0 0 transparent;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd400), color-stop(15%, #fed300), color-stop(28%, #f1c900), color-stop(51%, #d5b100), color-stop(64%, #cdab00), color-stop(69%, #cfac00), color-stop(77%, #ddb800), color-stop(97%, #f1c900), color-stop(100%, #ffd400)) repeat-x scroll 0 0 transparent;
    background: -webkit-linear-gradient(top, #ffd400 0%, #fed300 15%, #f1c900 28%, #d5b100 51%, #cdab00 64%, #cfac00 69%, #ddb800 77%, #f1c900 97%, #ffd400 100%) repeat-x scroll 0 0 transparent;
    background: linear-gradient(to bottom, #ffd400 0%, #fed300 15%, #f1c900 28%, #d5b100 51%, #cdab00 64%, #cfac00 69%, #ddb800 77%, #f1c900 97%, #ffd400 100%) repeat-x scroll 0 0 transparent; }
    .xform .form_footer .btnyellow:hover, .xform .form_footer .btnyellow:active, .xform .form_footer .btnyellow:focus {
      background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDkxZiIvPjxzdG9wIG9mZnNldD0iMTUlIiBzdG9wLWNvbG9yPSIjZmZkOTFlIi8+PHN0b3Agb2Zmc2V0PSIyOCUiIHN0b3AtY29sb3I9IiNmZmQ3MTEiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y0Y2EwMCIvPjxzdG9wIG9mZnNldD0iNjQlIiBzdG9wLWNvbG9yPSIjZWNjNTAwIi8+PHN0b3Agb2Zmc2V0PSI2OSUiIHN0b3AtY29sb3I9IiNlZWM1MDAiLz48c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2ZjZDEwMCIvPjxzdG9wIG9mZnNldD0iOTclIiBzdG9wLWNvbG9yPSIjZmZkNzExIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZkOTFmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g') repeat-x scroll 0 0 transparent;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd91f), color-stop(15%, #ffd91e), color-stop(28%, #ffd711), color-stop(51%, #f4ca00), color-stop(64%, #ecc500), color-stop(69%, #eec500), color-stop(77%, #fcd100), color-stop(97%, #ffd711), color-stop(100%, #ffd91f)) repeat-x scroll 0 0 transparent;
      background: -webkit-linear-gradient(top, #ffd91f 0%, #ffd91e 15%, #ffd711 28%, #f4ca00 51%, #ecc500 64%, #eec500 69%, #fcd100 77%, #ffd711 97%, #ffd91f 100%) repeat-x scroll 0 0 transparent;
      background: linear-gradient(to bottom, #ffd91f 0%, #ffd91e 15%, #ffd711 28%, #f4ca00 51%, #ecc500 64%, #eec500 69%, #fcd100 77%, #ffd711 97%, #ffd91f 100%) repeat-x scroll 0 0 transparent; }

.xform div {
  box-sizing: border-box; }

.xform div.error {
  border: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0; }

/*******************PopupNotification styling*******************/
.PopupNotificationClose {
  display: block;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 30px;
  height: 30px;
  background: #0f0f0f url(../images/popup_close_white.png) no-repeat center center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  opacity: .75;
}

.PopupNotificationClose:hover {
  background-color: #1C1C1C;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.PopupNotificationContent {
  display: table;
  padding: 30px 40px 20px 40px;
  font-size: 14px;
  background: #000;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  position: relative;
}
